<!DOCTYPE html>
<html lang="en">
	<head>
		<title>insta485</title>
	</head>
	<body>
        <span style="float:right">
            <a href="/accounts/login/">
            <b>login</b>
            </a>
		</span>
		<a href="/">Home</a> |<b>Insta485</b>
		<hr>

		<form action="/accounts/create/" method="post" enctype="multipart/form-data">
            Photo: 
            <input type="file" name="file">
            Full Name: 
            <input type="text" name="fullname"/>
            User Name: 
            <input type="text" name="username"/>
            Email: 
            <input type="text" name="email"/>
            Password: 
            <input type="password" name="password"/>
            <input type="submit" name="signup" value="sign up"/>
        </form>

        <div>
            Already have an account?
            <a href="/accounts/login/">
                <b>Log in</b>
            </a>
        </div>


	</body>
</html>
