<!DOCTYPE html>
<html lang="en">
	<head>
		<title>insta485</title>
	</head>
	<body>
        <span style="float:right">
            <a href="/explore/">explore</a>
            {% set log_user_path = "/u/" ~ username ~ "/" %}
            <a href="{{log_user_path}}">{{username}}</a>
		</span>
		<a href="/">Home</a> |<b>Insta485</b>
		<hr>

        <b>{{username}}</b>
		<form action="/accounts/delete/" method="post" enctype="multipart/form-data">
            <input type="submit" name="delete" value="confirm delete account"/>
        </form>


	</body>
</html>
