<!-- Mainly developed by JD -->
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css')}}">
<body style="background-color:rgb(255, 255, 255);"></body>
<style>
 
  #content {
       position: relative;
   }
   #content1 img {
       position: absolute;
       top: 0px;
       right: 0px;
   }
   #content2 img {
       position: absolute;
       top: 0px;
       left: 0px;
   }

   
</style>
</head>
<body>

  <div id="content2">
    <a href = "/">
    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="logo" />
    </a>
  </div>
  <div id="content1">
    <a href = "/">
    <img src="{{ url_for('static', filename='images/images.png')}}" alt="images" width = "50" height="50" />
    </a>
  </div>
    <br> Sorry your search input is not valid:( <br>
    Try giving me a suggested building name or using category mode
</body>
</html>
