<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css')}}">

<style>
  #content1 {
      position: relative;
  }
  #content1 img {
      position: absolute;
      top: 0px;
      right: 0px;
  }
  #content2 img {
      position: absolute;
      top: 0px;
      left: 0px;
  }
</style>
</head>

<body>
<form action="predict.html" method="post" enctype="multipart/form-data">
  <div id="content1">
    <a href="/">
    <img src="/static/images/images.jpg" alt="Home" width="50" height="50"/>
  </a>
</div>
<div id="content2">
  <a href="/">
  <img src="/static/images/logo.jpg" alt="logo">
 </a>
</div>
<br>
  <form>
    <i>Day</i>
    <br>
    <select id="day" name="day" size="3">
        <optgroup>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
            <option value="0">Sunday</option>
        </optgroup>
    </select>
    <br>
    <i>Time </i> 
    <br>
    <br>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <div class="form__group">
        <input type="text" class="form__input" name = "time" id="time" placeholder="Time" required="" />
        
    </div>
    <br>
    <i>Building</i>
    <br>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <div class="form__group">
        <input type="text" class="form__input" name = "building" id="building" placeholder="Building Name" required="" />
        
    </div>

    <br>
    <button class="button">Search</button>
    <div class="loader">
      <div class="check">
        <span class="check-one"></span>
        <span class="check-two"></span>
      </div>
    </div>
  </form>

</form>
</body>
</html>
