<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css')}}">
<style>
   #content {
        position: relative;
    }
    #content1 img {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    #content2 img {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    
    </style>
</head>
<body>

  <div id="content2">
    <a href = "/">
    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="logo" />
    </a>
  </div>
  <div id="content1">
    <a href = "/">
    <img src="{{ url_for('static', filename='images/images.png')}}" alt="images" width = "50" height="50" />
    </a>
  </div>
  

  


<form action="predict.html" method="post" enctype="multipart/form-data">
  <form>
 
<br>
<small>Choose a Mode:</small>
    <select name="mode" id="mode">
      <optgroup>
        <option value="category">Search by Category</option>
        <option value="building">Search by Building Name</option>
      </optgroup>
    </select>
    <br>
    <br>
    <small>Choose a Day:</small>
    <select name="day" id="day">
      <optgroup>
        <option value="1">Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">Wednesday</option>
        <option value="4">Thursday</option>
        <option value="5">Friday</option>
        <option value="6">Saturday</option>
        <option value="0">Sunday</option>
      </optgroup>
    </select>

<br>

  <br>
    <small>Time of the day</small> 
    <br>
    <p style= "font-size: small;"> (Please input a value between 0 (00:00-00:59), 1, 2, ..., 22, 23 (23:00-23:59)) </p>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <div class="form__group">
        <input type="text" class="form__input" name = "time" id="time" placeholder="Time" style="width: 300px; text-align: center; margin-left: 550px;" required="" />
    </div>
    <br>
    <!-- <small>Building Name or Category </small>
    <p style= "font-size: small;"> (category: lecturehall, dormitory, recreation, administration, research, workout...) </p>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <div class="form__group">
        <input type="text" class="form__input" name = "building" id="building" placeholder="Building Name" style="width: 300px; text-align: center; margin-left: 550px;"  required="" />
    </div> -->
    <small>Building Name or Category </small>
    <p style= "font-size: small;"> (category: lecturehall, dormitory, recreation, administration, research, workout...) </p>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <form action="/buildings" method="post" enctype="multipart/form-data">
        <div class="wrapper">
          <div class="search-input">
            <a href="" target="_blank" hidden></a>
            <input type="text" class="form__input" name = "building" id="building" placeholder="Building Name" style="width: 300px; text-align: center; margin-left: 550px;"  required="" />
            <div class="autocom-box">
            <!-- here list are inserted from javascript -->
            </div>
            <div class="icon"><i class="fas fa-search"></i></div>
          </div>
        </div>

        <script src="{{ url_for('static', filename='js/suggestions.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </form>

    <br>
    <button class="button">Search</button>
    <div class="loader">
      <div class="check">
        <span class="check-one"></span>
        <span class="check-two"></span>
      </div>
    </div>
  </form>

</form>
</body>
</html>
