<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/predict.css">
  <script type="text/javascript" src="javascript/duder.js"></script>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">StaySafe</a>
</div>


<div style="padding-top:10px">
<img src="images/duder.jpg" alt="Duderstadt Center (The Dude)", style="width:600px;height:400px;"> 
</div>
<div style="font-size: 27px">
  <p>Longtitute and Latitute: </p>
  <p>42.287203971127525, 83.69756834945494</p>
  <p>Congestion Level: 1.440</p>
</div>
 


</body>
</html>
