<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css')}}">
</head>
<body>

<div class="topnav">
  <a class="active" href="/">StaySafe</a>
</div>


<div style="padding-top:10px">
<img src="{{url_for('static', filename='images/DuderLibrary.jpg')}}"alt="Duderstadt Center (The Dude)", style="width:600px;height:400px;"> 
</div>
Note: The image acts as a placeholder for now
<div style="font-size: 27px">
  <p>Building Name: {{building_name}}</p>
  <p>Selected Time Period: {{time_period}}</p>
  <p>Congestion Level: {{cong_level}}</p>
</div>
 


</body>
</html>
